.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card-img-top{
    width: fit-content;
}
.card{
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.btn{
    width: fit-content;
}